<form action="students/add/" method="POST" name="createForm" class="w-full max-w-lg">
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password"> Full Name </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="name" type="text" placeholder="" />
		</div>
	</div>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name"> Username </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="username" type="text" placeholder="" />
		</div>
		<div class="w-full md:w-1/2 px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name"> Email </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="email_address" type="text" placeholder="" />
		</div>
	</div>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name"> Address Line 1 </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="address_line1" type="text" placeholder="" />
		</div>
		<div class="w-full md:w-1/2 px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name"> Address Line 2 </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="address_line2" type="text" placeholder="" />
		</div>
	</div>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name"> Mailing Address Line 1 </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" name="mailing_address1" type="text" placeholder="" />
		</div>
		<div class="w-full md:w-1/2 px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name"> Mailing Address Line 2 </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="mailing_address2" type="text" placeholder="" />
		</div>
	</div>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state"> Cohort </label>
			<div class="relative">
				<select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="cohort">
					<option value="1">Cohort 1</option>
					<option value="2">Cohort 2</option>
				</select>
				<div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
					<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
				</div>
			</div>
		</div>
		<div class="w-full md:w-1/2 px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name"> Home Phone </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="home_phone" type="text" placeholder="" />
		</div>
	</div>
	<div class="flex flex-wrap -mx-3 mb-6">
		<div class="w-full px-3">
			<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password"> Password </label>
			<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="password" type="password" autocomplete="new-password" placeholder="******************" />
			<p class="text-gray-600 text-xs italic">Make it as long and as crazy as you'd like</p>
		</div>
	</div>

	<div class="flex flex-wrap justify-end -mx-3 mb-2">
		<div class="px-3">
			<input class="cursor-pointer w-full bg-blue-500 text-white rounded py-3 px-4 mb-3 hover:bg-blue-600" type="submit" value="Submit" />
		</div>
	</div>
</form>

<script src="createForm.js"></script>
